.info-country__banner {
    margin-bottom: 17px;
}

.info-country__banner:last-child {
    margin-bottom: 27px;
}

.country-news {
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    border: 1px solid #E8E8E8;
    background-color: white;
    margin-bottom: 14px;
    height: 99px;
}

.country-news__column {
    display: flex;
    align-items: center;
}

.country-news__img {
    margin-left: 16px;
    margin-right: 19px;
    width: 126px;
    height: 67px;
}

.country-news__news {
    display: flex;
    flex-direction: column;
}

.country-news__title {
    font-size: 13px;
    font-weight: 500;
    display: block;
    margin-bottom: 3px;
}

.country-news__time {
    font-size: 12px;
    color: #949494;
    margin-top: 10px;
}

.title-with-button {
    display: flex;
}

.title-with-button__button {
    width: 56px;
    height: 33px;
    background-color: #FFA800;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 29px;
    margin-left:68px;
}

.title-with-button__button:last-child {
    width: 56px;
    height: 33px;
    background-color: #F2F2F2;
    color: #A4A4A4;
    font-size: 12px;
    border: none;
    border-radius: 41px;
    margin-left: 10px;
}

.exchange-rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
    margin-left: 20px;
}

.exchange-rate__column {
    margin-right: 20px;
}

.exchange-rate__country {
    font-size: 16px;
    font-weight: 1000;
}

.exchange-rate__info {
    font-size: 22px;
    font-weight: 600;
    align-items: center;
    margin-top: 12px;
}

.exchange-rate__value {
    color: #FF2525;
}

.graph-icon {
    margin-right: 5px;
}

.scroll-img {
    width:390px;
    margin-left: -20px;
    margin-bottom: 43px;
}